
.navbar {
    background-color: black;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.2em;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
  }
  .navbar-menu a:hover {
    color: yellow;
  }
  
  .navbar-menu a.active {
    font-weight: bold;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
  }
  
  .dropdown li {
    margin: 5px 0;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-menu.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 10px;
    }
  
    .navbar-menu.show li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-toggle {
      display: block;
    }
  }